.headerBackground {
  background-image: url("/src/assets//images//trong_dong.png");
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 0.05; */
}

.navbarMobile {
  scrollbar-width: none;
}

.navbarMobile::-webkit-scrollbar {
  display: none;
}
